#main-port {
    padding: 0 2.7rem 0 2.7rem;
    display: grid;
    grid-template-columns: 15%  85%;
    grid-template-rows: max-content;
}
#main-port section {
    grid-column: 2/3;
}
#toc-container {
    grid-column: 1/2;
    padding: 1rem;
    position: sticky;
    top: 20px; 
    max-height: calc(100vh - 40px);
    overflow-y: auto; 
}
#toc-container h3 {

    margin-top: 1rem;
    margin-bottom: 1rem;
}

#toc-container .active {
    opacity: 1 !important;
}
#toc-container ul li a {
    opacity: 0.5 ;
}
#toc-container ul li.active a {
    font-weight: bold;
    opacity: 1 !important;
}
  
#breadcrumbs {
    background-color: var(--breadcrumbs-background);
    padding: 10px;
}
#breadcrumbs li,
#breadcrumbs a {
  text-transform: capitalize; /
}
/* Artcicle pages */
.no-border {
    border: none;
}
.article-page-img {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0; /* Optional: adds spacing around the image */
    max-width: 85ch;
}
.article-page-img-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Optional: adds spacing around the image */
    max-width: 85ch;
}

.article-page-img-centered img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains aspect ratio */
}

img, iframe {
    border: 1px solid var(--border-color);
}
.iframe-container {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding-top: 56.25%;
  }
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 85ch;
    height: 23rem;
  }
@media (max-width: 600px) {
    #main-port {
        padding: 0 1rem 0 1rem;
    }
    #main-port section {
        padding: 0;
     }
    #toc-container {
        display: none;
    }
}
